<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CrmForIsp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginAdmin</display-name>
    <servlet-name>LoginAdmin</servlet-name>
    <servlet-class>com.nipun.databaseconnec.LoginAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdmin</servlet-name>
    <url-pattern>/LoginAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCusto</display-name>
    <servlet-name>AddCusto</servlet-name>
    <servlet-class>com.nipun.databaseconnec.AddCusto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCusto</servlet-name>
    <url-pattern>/AddCusto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSman</display-name>
    <servlet-name>AddSman</servlet-name>
    <servlet-class>com.nipun.databaseconnec.AddSman</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSman</servlet-name>
    <url-pattern>/AddSman</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginCustomer</display-name>
    <servlet-name>LoginCustomer</servlet-name>
    <servlet-class>com.nipun.databaseconnec.LoginCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCustomer</servlet-name>
    <url-pattern>/LoginCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddComplaints</display-name>
    <servlet-name>AddComplaints</servlet-name>
    <servlet-class>com.nipun.databaseconnec.AddComplaints</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddComplaints</servlet-name>
    <url-pattern>/AddComplaints</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CoustomerChangePass</display-name>
    <servlet-name>CoustomerChangePass</servlet-name>
    <servlet-class>com.nipun.databaseconnec.CoustomerChangePass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CoustomerChangePass</servlet-name>
    <url-pattern>/CoustomerChangePass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignSman</display-name>
    <servlet-name>AssignSman</servlet-name>
    <servlet-class>com.nipun.databaseconnec.AssignSman</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignSman</servlet-name>
    <url-pattern>/AssignSman</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginSman</display-name>
    <servlet-name>LoginSman</servlet-name>
    <servlet-class>com.nipun.databaseconnec.LoginSman</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSman</servlet-name>
    <url-pattern>/LoginSman</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SmanChangePassword</display-name>
    <servlet-name>SmanChangePassword</servlet-name>
    <servlet-class>com.nipun.databaseconnec.SmanChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SmanChangePassword</servlet-name>
    <url-pattern>/SmanChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignScode</display-name>
    <servlet-name>AssignScode</servlet-name>
    <servlet-class>com.nipun.databaseconnec.AssignScode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignScode</servlet-name>
    <url-pattern>/AssignScode</url-pattern>
  </servlet-mapping>
</web-app>
